@import auxiliary._
@import java.text.SimpleDateFormat
@import io.hbt.bubblegum.core.databasing.Post

@(name : State.NetworkDescription, size : Int, myInformation : String, bootstrapForm: Form[BootstrapKeyForm], postForm: Form[PostForm])(implicit request: MessagesRequestHeader)

@main("Network '"+ name.getName +"'") {
    <div id="header-colour">
        <div class="container grid-lg">
            <header class="navbar" style="padding:8px 0;">

                <section class="navbar-section">
                    <a href="@routes.InstanceController.index()" class="btn btn-link btn-white"><i class="icon icon-arrow-left"></i></a>
                </section>
                <section class="navbar-center">
                    <img style="max-height:38px;" src="@routes.Assets.versioned("images/logo-256.png")" />
                </section>
                <section class="navbar-section">
                    @if(size > 0) {
                        <a href="#" id="open-modal-newpost" class="btn btn-white btn-white-border">New Post</a>
                    }
                </section>
            </header>
        </div>
    </div>
    <div id="breadcrumbs" class="container grid-lg">
        <div class="columns">
            <ul class="breadcrumb column col-6 col-sm-12">
                <li class="breadcrumb-item">
                    <a href="@routes.InstanceController.index()">Networks</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">@name.getName</a>
                </li>
            </ul>
            <div class="toolbar float-right column col-6 col-sm-12">
                <span><a href="#" id="open-modal-menu"><i class="icon icon-apps" style="color:#66758c;"></i></a></span>
                @if(size > 0) {
                    <span style="color: #66758c;padding-right: 20px;padding-left: 20px;margin-top: 1px;"> / </span>
                    <span><a href="#" id="refresh-button"><i class="icon icon-refresh" style="color:#66758c;"></i></a></span>
                    <span style="color: #66758c;padding-right: 20px;padding-left: 10px;margin-top: 1px;"> / </span>
                    <span>
                        <label class="form-switch">
                            <input id="auto-reload" type="checkbox"><i class="form-icon"></i> Auto Refresh
                        </label>
                    </span>
                }
            </div>
        </div>
    </div>

    @toast(request)

    @if(size == 0) {
        <div class="container grid-lg">
            <h1 class="text-center">@name.getName</h1>
            <h5 class="text-center">This network is currently a singleton; you're the only one here. To get started you have two options.</h5>

            <div class="columns" style="margin-top: 1.5rem;">
                <div class="column col-6 col-sm-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title"><strong>1. Bootstrap onto another Network</strong></div>
                        </div>
                        <div class="panel-body">
                            <p>Paste another network's public information key below to join.</p>
                            @if(bootstrapForm.hasGlobalErrors) {
                                @bootstrapForm.globalErrors.map { error: FormError =>
                                    <div>
                                        @error.key: @error.message
                                    </div>
                                }
                            }

                            @helper.form(routes.NetworkController.bootstrapSubmit(name.getHash)) {
                                @helper.CSRF.formField

                                @helper.input(bootstrapForm("key"), '_label -> "") { (id, name, value, args) =>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12">
                                            <textarea class="form-input" rows="3" value="@value" name="@name" id="@id" placeholder="eg. MTAuMjQ4Ljk3LjE3OSw1MDM0NCxuZXR3b3JrLWVlZmZhYzM1LTg3YjQtNDY0YS04OTE5LWExMzcwOTcwNjU4MDozNjVCOTk2OTZDQjhEMEY4Q0YwRTNDNDNDQzNENkZGRUE1Q0IxQzYy" @toHtmlArgs(args)></textarea>
                                        </div>
                                    </div>
                                }

                                <button class="btn btn-primary" style="margin-bottom: 15px;">Bootstrap</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title"><strong>2. Invite Friends to Join</strong></div>
                        </div>
                        <div class="panel-body">
                            <p>Share this network's public information key to allow others to connect with you.</p>
                            <div class="key-wrapper"><pre>@myInformation</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    } else {
        <div class="container grid-md">
            <h4 id="posts-loading" class="text-center">Loading...</h4>
            <h4 id="posts-empty" class="text-center" style="padding: 30px 0;" hidden>No Recent Posts</h4>
            <div id="posts" class="timeline"></div>
            <button id="load-more" class="btn btn-link fade hidden" onclick="showAnOlderEpoch()">
                Check for Older Posts &nbsp;<i class="icon icon-downward"></i><br>
                <span id="loaded-back-to-label" style="font-size: 0.6em;"></span>
            </button>
        </div>
    }

    @*Modals*@
    <div class="modal" id="modal-menu">
        <a href="#" id="bg-modal-menu" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" id="close-modal-menu" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Network Settings</div>
            </div>
            <div class="modal-body">
                <div class="container grid-lg">
                    <div class="columns" style="padding: 20px 0;">
                        <div class="column col-3 col-sm-12">
                            <h6 style="margin-top: 12px;color: #717171;font-weight: 300;text-align: right;">Username</h6>
                        </div>
                        <div class="column col-8 col-sm-11">
                            <h3>@name.getDisplayName</h3>
                        </div>
                        <div class="column col-1 col-sm-1" style="margin-top: 10px;">
                            <a href="@routes.InstanceController.editForm(name.getHash)"><i class="icon icon-edit"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container grid-lg">
                    <div class="columns">
                        <div class="panel column col-12">
                            <div class="panel-header">
                                <div class="panel-title"><strong>Invite Friends to Join</strong></div>
                            </div>
                            <div class="panel-body">
                                <p>Share this network's public information key to allow others to connect with you.</p>
                                <div class="key-wrapper"><pre>@myInformation</pre></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <p></p>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-newpost">
        <a href="#" id="bg-modal-newpost" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" id="close-modal-newpost" class="btn btn-clear float-right" aria-label="Close"></a>
                <div id="newpost-modal-title" class="modal-title h5">New Post</div>
            </div>
            @helper.form(routes.NetworkController.newPost(name.getHash), 'onsubmit -> "return prepareForNewPostSubmit()") {
                @helper.CSRF.formField

                <div class="modal-body">
                    <div class="content">
                        <span id="newpost-byline" style="margin-bottom: 15px;display:none;"></span>
                        <textarea class="form-input" rows="5" value="" id="newpost-textarea" placeholder="eg. I wandered lonely as a cloud..."></textarea>
                        <input id="newpost-content" type="hidden" value="" name="content" />
                        <input id="newpost-hidden-response" type="hidden" name="response" value="" />
                        <input type="hidden" name="thread" value="false" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary float-right" style="margin-bottom: 15px;">Post</button>
                </div>
            }
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/feed.js")"></script>
    <script>
        // State
        var gettingPosts = @(size > 0);
        var epochDuration = @io.hbt.bubblegum.core.Configuration.BIN_EPOCH_DURATION;
        var threadLink = '@routes.NetworkController.showThread(name.getHash, "$")';
        var getEpochPath = "@helper.CSRF(routes.NetworkController.getEpoch(name.getHash))";
        var selfID = "@State.hashToNodeID(name.getHash)";

        var posts = new Set();
        var epochsLoaded = new Set();
        var smallestEpochShowing = 0;
        var biggestEpochShowing = 0;
        var timeAtLastReload = 0;
        var consecutiveFails = 0;

        var mde;
        var md;

        document.addEventListener("DOMContentLoaded", function() {
            mde = new SimpleMDE({ element: document.getElementById("newpost-textarea") });
            md = new markdownit();

            var modals = ["menu"];
            @if(size > 0) {
                modals.push("newpost");
            }
            modals.forEach(function(modal) {
                document.getElementById("open-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.add("active");
                }
                document.getElementById("close-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.remove("active");
                    if(modal == "newpost") resetNewPostForm();
                }
                document.getElementById("bg-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.remove("active");
                    if(modal == "newpost") resetNewPostForm();
                }
            });

            if(gettingPosts) {
                window.setInterval(function(){
                    if(document.getElementById("auto-reload").checked) reload();
                    if(consecutiveFails > 5) location.reload();
                }, 2000);

                var reloadTime = Date.now();
                setSmallestEpochShowing(parseInt(reloadTime / epochDuration));
                biggestEpochShowing = smallestEpochShowing;
                getEpoch(smallestEpochShowing);
                showAnOlderEpoch();
                timeAtLastReload = reloadTime;

                document.getElementById("posts-loading").hidden = true;
                if(posts.size == 0) document.getElementById("posts-empty").hidden = false;

                document.getElementById("refresh-button").onclick = function() {
                    reload();
                };

                window.setTimeout(function() {
                    document.getElementById("load-more").classList.remove("hidden");
                }, 250);
            }
        });

        // Gets a width of an element in em units
        // document.getElementById("asdf").clientHeight / parseFloat(getComputedStyle(document.querySelector('body'))['font-size'])

    </script>
}

