@import auxiliary._
@import java.text.SimpleDateFormat
@import io.hbt.bubblegum.core.databasing.Post

@(name : State.NetworkDescription, size : Int, myInformation : String, bootstrapForm: Form[BootstrapKeyForm], posts: java.util.List[Post])(implicit request: MessagesRequestHeader)

@main("Network '"+ name.getName +"' - Bubblegum") {
    <div id="header-colour">
        <div class="container grid-lg">
            <header class="navbar" style="padding:8px 0;">

                <section class="navbar-section">
                    <a href="@routes.InstanceController.index()" class="btn btn-link btn-white"><i class="icon icon-arrow-left"></i></a>
                </section>
                <section class="navbar-center">
                    <img style="max-height:38px;" src="@routes.Assets.versioned("images/logo-256.png")" />
                </section>
                <section class="navbar-section">
                    @if(size > 0) {
                        <a href="#" id="open-modal-newpost" class="btn btn-white btn-white-border">New Post</a>
                    }
                </section>
            </header>
        </div>
    </div>
    <div id="breadcrumbs" class="container grid-lg">
        <div class="columns">
            <ul class="breadcrumb column col-6 col-sm-12">
                <li class="breadcrumb-item">
                    <a href="@routes.InstanceController.index()">Networks</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">@name.getName</a>
                </li>
            </ul>
            <div class="toolbar float-right column col-6 col-sm-12">
                <span><a href="#" id="open-modal-menu"><i class="icon icon-apps" style="color:#66758c;"></i></a></span>
                <span style="color: #66758c;padding-right: 20px;padding-left: 10px;margin-top: 1px;"> / </span>
                <span>
                    <label class="form-switch">
                        <input type="checkbox"><i class="form-icon"></i> Auto Refresh
                    </label>
                </span>
            </div>
        </div>
    </div>

    @toast(request)

    @if(size == 0) {
        <div class="container grid-lg">
            <h1 class="text-center">@name.getName</h1>
            <h5 class="text-center">This network is currently a singleton; you're the only one here. To get started you have two options.</h5>

            <div class="columns" style="margin-top: 1.5rem;">
                <div class="column col-6 col-sm-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title"><strong>1. Bootstrap onto another Network</strong></div>
                        </div>
                        <div class="panel-body">
                            <p>Paste another network's public information key below to join.</p>
                            @if(bootstrapForm.hasGlobalErrors) {
                                @bootstrapForm.globalErrors.map { error: FormError =>
                                    <div>
                                        @error.key: @error.message
                                    </div>
                                }
                            }

                            @helper.form(routes.NetworkController.bootstrapSubmit(name.getHash)) {
                                @helper.CSRF.formField

                                @helper.input(bootstrapForm("key"), '_label -> "") { (id, name, value, args) =>
                                    <div class="form-group">
                                        <div class="col-12 col-sm-12">
                                            <textarea class="form-input" rows="3" value="@value" name="@name" id="@id" placeholder="eg. MTAuMjQ4Ljk3LjE3OSw1MDM0NCxuZXR3b3JrLWVlZmZhYzM1LTg3YjQtNDY0YS04OTE5LWExMzcwOTcwNjU4MDozNjVCOTk2OTZDQjhEMEY4Q0YwRTNDNDNDQzNENkZGRUE1Q0IxQzYy" @toHtmlArgs(args)></textarea>
                                        </div>
                                    </div>
                                }

                                <button class="btn btn-primary" style="margin-bottom: 15px;">Bootstrap</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="column col-6 col-sm-12">
                    <div class="panel">
                        <div class="panel-header">
                            <div class="panel-title"><strong>2. Invite Friends to Join</strong></div>
                        </div>
                        <div class="panel-body">
                            <p>Share this network's public information key to allow others to connect with you.</p>
                            <div class="key-wrapper"><pre>@myInformation</pre></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    } else {
        <div class="container grid-lg">
            @*Feed*@
            @if(posts != null) {
                @for(p <- posts) {
                   <p>@{new SimpleDateFormat("yyyy-MM-dd HH:mm:ss z").format(new java.util.Date(p.getTimeCreated))} : @p.getContent</p>
                }
            }
        </div>
    }

    @*Modals*@
    <div class="modal" id="modal-menu">
        <a href="#" id="bg-modal-menu" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" id="close-modal-menu" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">Network Settings</div>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>

    <div class="modal" id="modal-newpost">
        <a href="#" id="bg-modal-newpost" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" id="close-modal-newpost" class="btn btn-clear float-right" aria-label="Close"></a>
                <div class="modal-title h5">New Post</div>
            </div>
            @helper.form(routes.NetworkController.newPost(name.getHash)) {
                @helper.CSRF.formField

                <div class="modal-body">
                    <div class="content">
                        @helper.input(bootstrapForm("content"), '_label -> "") { (id, name, value, args) =>
                            <div class="form-group">
                                <div class="col-12 col-sm-12">
                                    <textarea class="form-input" rows="5" value="@value" name="@name" id="@id" placeholder="eg. I wandered lonely as a cloud..." @toHtmlArgs(args)></textarea>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary float-right" style="margin-bottom: 15px;">Post</button>
                </div>
            }
        </div>
    </div>

    <form style="display:none;" method="post" id="ajaxForm" action="/">
        @helper.CSRF.formField
    </form>
    <script>
        // State
        var gettingPosts = @(size > 0);
        var epochDuration = @io.hbt.bubblegum.core.Configuration.BIN_EPOCH_DURATION;

        var posts = {};
        var epochsLoaded = new Set();
        var timeAtLastReload = 0;

        document.addEventListener("DOMContentLoaded", function() {
            var modals = ["menu"];
            @if(size > 0) {
                modals.push("newpost");
            }
            modals.forEach(function(modal) {
                document.getElementById("open-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.add("active");
                }
                document.getElementById("close-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.remove("active");
                }
                document.getElementById("bg-modal-"+modal).onclick = function(){
                    document.getElementById("modal-"+modal).classList.remove("active");
                }
            });

            if(gettingPosts) {
                var reloadTime = Date.now();
                getEpoch(parseInt(reloadTime / epochDuration));
                timeAtLastReload = reloadTime;
            }
        });

        function reload() {
            if(gettingPosts) {
                var refreshTime = Date.now();
                var newHead = parseInt(refreshTime / epochDuration);
                var headAtLastReload = parseInt(timeAtLastReload / epochDuration)

                if(newHead == headAtLastReload) {
                    getEpoch(newHead);
                    timeAtLastReload = refreshTime;
                } else if (newHead == (headAtLastReload + 1)) {
                    getEpoch(newHead);
                    getEpoch(headAtLastReload);
                    timeAtLastReload = refreshTime;
                } else {
                    // Clear board and reload fresh
                    location.reload();
                }

                console.log("Reloaded: new time is " + timeAtLastReload);
            }
        }

        function getEpoch(num) {
            var ajaxForm = document.getElementById("ajaxForm");
            var token;
            for (var i = 0; i < ajaxForm.childNodes.length; i++) {
                if (ajaxForm.childNodes[i].name && ajaxForm.childNodes[i].name == "csrfToken") {
                  token = ajaxForm.childNodes[i].value;
                  break;
                }
            }

            if(token && gettingPosts) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "@helper.CSRF(routes.NetworkController.getEpoch(name.getHash))");
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.setRequestHeader('X-CSRF-Token', token);
                xhr.onload = function() {
                    if (xhr.status === 200) {
                        console.log("Response: " + xhr.responseText)
                        if(xhr.responseText.length > 0) {
                            try {
                                var result = JSON.parse(xhr.responseText);
                                console.log(result);
                                epochsLoaded.add(num);
                            } catch(e) {
                                console.log(e);
                            }
                        }
                    }
                    else if (xhr.status !== 200) {
                        console.log('Request failed.  Returned status of ' + xhr.status + ": " + xhr.responseText);
                    }
                };
                console.log({ "epoch": num, "fromTime": timeAtLastReload });
                xhr.send(JSON.stringify({ "epoch": num, "fromTime": timeAtLastReload }));
            }
        }
    </script>
}

