@import io.hbt.bubblegum.core.databasing.Post
@import controllers.State.NetworkDescription
@import java.util.Base64
@import auxiliary._

@(post : Post, ownerName : String, network : NetworkDescription, postForm: Form[PostForm])(implicit request: MessagesRequestHeader)

@main("Post Thread") {
    <div id="header-colour">
        <div class="container grid-lg">
            <header class="navbar" style="padding:8px 0;">

                <section class="navbar-section">
                    <a href="@routes.NetworkController.show(network.getHash)" class="btn btn-link btn-white"><i class="icon icon-arrow-left"></i></a>
                </section>
                <section class="navbar-center">
                    <img style="max-height:38px;" src="@routes.Assets.versioned("images/logo-256.png")" />
                </section>
                <section class="navbar-section">
                </section>
            </header>
        </div>
    </div>
    <div id="breadcrumbs" class="container grid-lg">
        <div class="columns">
            <ul class="breadcrumb column col-6 col-sm-12">
                <li class="breadcrumb-item">
                    <a href="@routes.InstanceController.index()">Networks</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@routes.NetworkController.show(network.getHash)">@network.getName</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Thread</a>
                </li>
            </ul>
            <div class="toolbar float-right column col-6 col-sm-12">
                <span><a onclick="reload(true);" id="refresh-button"><i class="icon icon-refresh" style="color:#66758c;"></i></a></span>
                <span style="color: #66758c;padding-right: 20px;padding-left: 10px;margin-top: 1px;"> / </span>
                <span>
                    <label class="form-switch">
                        <input id="auto-reload" type="checkbox"><i class="form-icon"></i> Auto Refresh
                    </label>
                </span>
            </div>
        </div>
    </div>

    @toast(request)


    <div class="container grid-lg">
        <div id="posts" class="timeline">
            <div class="timeline-item" data-time="@post.getTimeCreated" data-owner="b">
                <div class="timeline-left"><a class="timeline-icon"></a></div>
                <div id="@{post.getOwner}:@{post.getID}" class="timeline-content" data-depth="0">
                    <div class="post-tile tile">
                        <div class="tile-content">
                            <div class="tile-action">
                                <a class="float-right" onclick="showReplyForm('@{post.getOwner}:@{post.getID}', '@ownerName')" href="#">
                                    <button class="btn btn-sm">Reply</button>
                                </a>
                                <br>
                                @if(State.hashToNodeID(network.getHash) == post.getOwner) {
                                    <code class="float-right hash-id me">You</code>
                                } else {
                                    <code class="float-right hash-id">User #@post.getOwner.substring(0, Math.min(post.getOwner.length(), 8))</code>
                                }
                            </div>
                            <h5 class="post-headline">@ownerName</h5>
                            <kbd id="main-post-time" class="date-badge">...</kbd>
                            @if(post.getResponse.length > 0) {
                                <kbd class="reply-badge">COMMENT</kbd>
                                <a class="no-decoration" href="@routes.NetworkController.showThread(network.getHash, Base64.getEncoder().encodeToString(post.getResponse.getBytes))">
                                    <samp>Original Post →</samp>
                                </a>
                            }
                            <div id="content-@post.getID" class="post-content hide"><div id="main-post-inner" class="inner">Loading...</div></div>
                        </div>
                    </div>
                    <div>
                        <div class="divider text-center" data-content="Comments"></div>
                        <button id="responses-loading-@{post.getOwner}:@{post.getID}" onclick="getComments('@{post.getOwner}:@{post.getID}')" class="btn btn-link loading load-comments"></button>
                        <div id="responses-@{post.getOwner}:@{post.getID}" class="timeline" data-depth="1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-newpost">
        <a href="#" id="bg-modal-newpost" class="modal-overlay" aria-label="Close"></a>
        <div class="modal-container">
            <div class="modal-header">
                <a href="#" id="close-modal-newpost" class="btn btn-clear float-right" aria-label="Close"></a>
                <div id="newpost-modal-title" class="modal-title h5">New Response</div>
            </div>
            @helper.form(routes.NetworkController.newPost(network.getHash), 'onsubmit -> "return prepareForNewPostSubmit()") {
                @helper.CSRF.formField

                <div class="modal-body">
                    <div class="content">
                        <span id="newpost-byline" style="display: block;margin-bottom: 15px;"></span>
                        <textarea class="form-input" rows="5" value="" id="newpost-textarea" placeholder="eg. I wandered lonely as a cloud..."></textarea>
                        <input id="newpost-content" type="hidden" value="" name="content" />
                        <input id="newpost-hidden-response" type="hidden" name="response" value="" />
                        <input type="hidden" name="thread" value="true" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary float-right" style="margin-bottom: 15px;">Post</button>
                </div>
            }
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/thread.js")"></script>
    <script>
        var getCommentsPath = "@helper.CSRF(routes.NetworkController.getComments(network.getHash))";
        var epochDuration = @io.hbt.bubblegum.core.Configuration.BIN_EPOCH_DURATION;
        var threadLink = '@routes.NetworkController.showThread(network.getHash, "$")';
        var selfID = "@State.hashToNodeID(network.getHash)";

        var consecutiveFails = 0;
        var posts = new Set();
        var shownResponseSets = [];

        var mde;
        var md;

        document.addEventListener("DOMContentLoaded", function() {
            // Sort out main post
            checkForMoreButton("content-@post.getID");
            mde = new SimpleMDE({ element: document.getElementById("newpost-textarea") });
            md = new markdownit();

            var date = new Date(@post.getTimeCreated);
            var dateString = date.toLocaleTimeString();
            if(parseInt(date.getTime() / 86400000) != parseInt(Date.now() / 86400000)) {
                dateString += ', '+ date.toLocaleDateString();
            }
            document.getElementById("main-post-time").innerText = dateString;

            var contentString = "@post.getContent";
            content = md.render(LZString.decompressFromBase64(contentString));
            document.getElementById("main-post-inner").innerHTML = content;

            getComments("@{post.getOwner}:@{post.getID}");
            shownResponseSets.push("@{post.getOwner}:@{post.getID}");

            window.setInterval(function(){
                if(document.getElementById("auto-reload").checked) reload(false);
                if(consecutiveFails > 5) location.reload();
            }, 3000);

            document.getElementById("close-modal-newpost").onclick = function(){
                document.getElementById("modal-newpost").classList.remove("active");
                resetNewPostForm();
            }
            document.getElementById("bg-modal-newpost").onclick = function(){
                document.getElementById("modal-newpost").classList.remove("active");
                resetNewPostForm();
            }
        });


    </script>
}