#header-colour {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 5px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 399;
}
#breadcrumbs {
    margin-bottom: 20px;
    border-bottom: 1px solid #7e7bab3b;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.btn-white {
    color: #fff !important;
}
.btn-white-border {
    background: none !important;
    border-color: #fff !important;
}
.card {
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 0px;
    text-decoration: none !important;
}
.card .card-title {
    color: #fff;
    text-decoration: none !important;
}
.card .card-subtitle {
    color: #ffffffc2;
    text-decoration: none !important;
}
.card .card-subtitle a {
    color: #ffffffc2;
    text-decoration: none !important;
}
.panel {
    background-color: #2c275c08 !important;
    border-color: #eef2f7 !important;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.key-wrapper {
    background-color: #eaebf3;
    padding: 12px;
    font-size: 0.9em;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.modal-container .modal-header {
    padding: .8rem .8rem 0.4rem .8rem;
}

.modal-container .modal-body {
    padding: 0 .8rem;
}

.modal-container .modal-footer {
    padding: 0 .8rem;
}

.form-input {
    border: .05rem solid #e9ecf1;
}
.toolbar {
    margin: .2rem 0;
    padding: .2rem 0;
}
.toolbar span {
    padding: .2rem 0;
    float: right;
}
.toolbar .form-switch {
    font-size: 0.7rem;
    line-height: 1.4rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.post-tile{
    padding: 10px;
    margin-top: -12px;
}

.toast {
    overflow: hidden;
}
.toast.toast-error {
    background: rgba(232, 37, 0, 0.95);
    border-color: rgba(232, 37, 0, 1);
}
.fade {
    -webkit-transition: font-size 0.5s;
    -moz-transition: font-size 0.5s;
    -ms-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    transition: font-size 0.5s;
    -webkit-transition: border-width 0.5s;
    -moz-transition: border-width 0.5s;
    -ms-transition: border-width 0.5s;
    -o-transition: border-width 0.5s;
    transition: border-width 0.5s;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    -ms-transition: padding 0.5s;
    -o-transition: padding 0.5s;
    transition: padding 0.5s;
    -webkit-transition: margin 0.5s;
    -moz-transition: margin 0.5s;
    -ms-transition: margin 0.5s;
    -o-transition: margin 0.5s;
    transition: margin 0.5s;
    -webkit-transition: line-height 0.5s;
    -moz-transition: line-height 0.5s;
    -ms-transition: line-height 0.5s;
    -o-transition: line-height 0.5s;
    transition: line-height 0.5s;
}
.fade.hidden {
    border-width: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.timeline .timeline-item::before {
    background: #edeff3;
}
h5.post-headline {
    margin-bottom: 0.1em;
}
.reply-badge {
    font-size: 0.5em;
    padding: 0.4em 0.8em;
}
.post-content {
    line-height: 1.4em;
    margin: 0.7em 0;
}
.post-content.hide {
    max-height: 11.2em; /* Only show 8 lines to start with */
    overflow-y: hidden;
}
.post-content.show {
    height: auto;
    overflow-y: visible;
}
a samp {
    text-decoration: none !important;
    color: #303742;
    font-weight: 700;
    font-size: 0.6em;
    padding: 0.4em 0.8em 0.4em 1.4em;
}
a.no-decoration:hover {
    text-decoration: none !important;
}