#toasts {
    width: 100%;
    position: fixed;
    top: 5px;
    z-index: 399;
    pointer-events: none;
}
#header-colour {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 5px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 398;
}
#breadcrumbs {
    margin-bottom: 20px;
    border-bottom: 1px solid #7e7bab3b;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
.btn-white {
    color: #fff !important;
}
.btn-white-border {
    background: none !important;
    border-color: #fff !important;
}
.card {
    margin-bottom: 20px;
    border-radius: .25rem;
    border-width: 0px;
    text-decoration: none !important;
}
.card .card-title {
    color: #fff;
    text-decoration: none !important;
}
.card .card-subtitle {
    color: #ffffffc2;
    text-decoration: none !important;
}
.card .card-subtitle a {
    color: #ffffffc2;
    text-decoration: none !important;
}
.panel {
    background-color: #2c275c08 !important;
    border-color: #eef2f7 !important;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
}
.key-wrapper {
    background-color: #eaebf3;
    padding: 12px;
    font-size: 0.9em;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

.modal-container .modal-header {
    padding: .8rem .8rem 0.4rem .8rem;
}

.modal-container .modal-body {
    padding: 0 .8rem;
}

.modal-container .modal-footer {
    padding: 0 .8rem;
}

.form-input {
    border: .05rem solid #e9ecf1;
}
.toolbar {
    margin: .2rem 0;
    padding: .2rem 0;
}
.toolbar span {
    padding: .2rem 0;
    float: right;
}
.toolbar .form-switch {
    font-size: 0.7rem;
    line-height: 1.4rem;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.post-tile{
    padding: 10px;
    margin-top: -12px;
}

.toast {
    overflow: hidden;
}
.toast.toast-error {
    background: rgba(232, 37, 0, 0.95);
    border-color: rgba(232, 37, 0, 1);
}
.fade {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.fade.hidden {
    opacity: 0;
}

.timeline .timeline-item::before {
    background: #edeff3;
}
h5.post-headline {
    margin-bottom: 0.1em;
}
kbd.reply-badge {
    font-size: 0.5em;
    padding: 0.4em 0.8em;
}
kbd.date-badge {
    margin-right: 0.8em;
    background-color: #ffe9b3;
    color: #525042;
    font-size: 0.7em;
    padding: 0.3em 0.6em;
    font-weight: 700;
}
.post-content {
    line-height: 1.4em;
    margin: 0.7em 0 0;
    padding-right: 2em;
}
.post-content.hide {
    max-height: 16em; /* Only show 8 lines to start with */
    overflow-y: hidden;
}
.post-content.show {
    height: auto;
    overflow-y: visible;
}
.post-content * {
    max-width: 100%;
}
a samp {
    text-decoration: none !important;
    color: #303742;
    font-weight: 700;
    font-size: 0.6em;
    padding: 0.4em 0.8em 0.4em 1.4em;
}
a.no-decoration:hover {
    text-decoration: none !important;
}
.tile-action {
    position: absolute;
    right: 0;
}
#more-btn {
    padding: 0px;
    width: 100%;
    border: 0;
    text-align: left;
}
button#more-btn:before {
    content: "";
    float: right;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
    width: 100%;
    height: 4em;
    margin-top: -70px;
}
#load-more {
    margin: 2em auto 6em;
    display: block;
    box-shadow: 0px 0px;
}
.btn, a{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-shadow: 0px 0px !important;
}
.hash-id {
    padding: 3px 5px;
    margin-top: 5px;
    border-color: #d73e48;
    border-width: 1px;
    border-style: double;
}
.hash-id.me {
    background-color: #eafce5;
    border-color: #306b21;
    color: #306b21;
}
.load-comments {
    width: 100%;
    display:block;
    font-size: 0.8em;
    padding: 0 0 15px 0;
    line-height: 2em;
}
.inner {
    margin-bottom: -1rem;
}
.modal-container {
    max-height: 95vh;
    overflow-y: scroll;
}
.timeline .timeline-item {
    margin-bottom: 0.5rem;
}
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffffe8;
    z-index: 1000;
}
#loader .loading {
    height: 100%;
}
.breadcrumb .breadcrumb-item:not(:first-child)::before {
    padding-right: .25rem;
}