@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#530d7f">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>@title — Bubblegum</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre-exp.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre-icons.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/custom.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/simplemde.min.css")">
    </head>
    <body>
        @content
        <script src="@routes.Assets.versioned("javascripts/lz-string.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/simplemde.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/markdown-it.min.js")"></script>
    </body>
</html>