@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre-exp.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/spectre-icons.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/custom.css")">
    </head>
    <body>
        @content
    </body>
</html>