@import java.util.UUID
@(request: MessagesRequestHeader)
@* Flash shows updates to a page *@
<div id="toasts">
@request.flash.data.map { case (name, value) =>
    @defining(UUID.randomUUID()) { id =>

        <div class="container grid-sm fade container-@id" style="margin-bottom: 20px;">
            @if(name == "success") {
                <div class="toast toast-success text-center fade toast-@id">@value</div>
            }
            @if(name == "error") {
                <div class="toast toast-error text-center fade toast-@id">@value</div>
            }
            @if(name == "info") {
                <div class="toast toast-primary text-center fade toast-@id">@value</div>
            }

              <script>
              setTimeout(function () {
                  document.getElementsByClassName("toast-@{id}")[0].classList.add("hidden");
                  setTimeout(function () {
                      document.getElementsByClassName("container-@{id}")[0].classList.add("hidden");
                  }, 500);
              }, 3000);
              </script>

        </div>
    }
}
</div>